---
import { siteConfig } from '../site.config'
---
<script>
  const enable = false
</script>
{enable ? (
  <div class="fixed bottom-4 right-4 w-80 h-96 rounded-2xl border border-black/10 dark:border-white/10 bg-white/80 dark:bg-neutral-900/70 backdrop-blur p-3">
    <p class="text-sm">WebLLM panel (disabled by default)</p>
  </div>
) : null}
